# O arquivo contém variáveis a serem usadas
# para rodar comandos na seção scripts do package.json.
# Cada desenvolvedor pode definir suas próprias configurações.
.npmrc

.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.orig.
web-build/
web-report/

# O arquivo foi alterado para app.config.js e usa env vars para não expor dados sigilosos.
# No entanto, o build do apk co turtle-cli aparentemente só funciona
# com o arquivo app.json que precisa incluir todos os dados, até estes sigilosos. 
app.json
