body {
  background-color: rgb(250, 250, 250);
}

.container {
  display: flex;
  flex-direction: column;
  border-color: 2px solid red;
}

.image {
  width: 10rem;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 30px 30px;
}