body {
  background-color: rgb(250, 250, 250);
}

.header {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headerNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px;
  border-radius: 0.3rem;
  width: 100%;
  height: 5rem;
}

.image {
  width: 10rem;
}

.button {
  padding: 10px;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 30px 30px;
}

.cardbody {
  border-radius: 1rem;
  width: 20rem;
}

.cardonly {
  padding: 10px;
}